@import url("https://fonts.cdnfonts.com/css/general-sans");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-family-sans: "General Sans", sans-serif;
  --font-family-mono: "Inter", monospace;
}

@layer base {
  html {
    scroll-behavior: smooth;
    font-family: var(--font-family-sans);
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }

  body {
    width: 100dvw;
    overflow-x: hidden;
    background-color: var(--color-bg-primary);
    color: var(--color-text-primary);
  }
}

::-webkit-scrollbar {
  width: 0px;
  display: none;
}